.Header {
    height: 40px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.left, .right {
    flex: 1;
}

.leftButton {
    display: flex !important;
    height: 100% !important;
    align-items: center;
    float: left;
    background-color: black !important;
    border: 0 !important;
}

.rightButton {
    display: flex !important;
    height: 100% !important;
    float: right;
    background-color: black !important;
    border: 0 !important;
}

.leftButton:hover, .rightButton:hover {
    background-color: #424649 !important;
}

