.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.stepper {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 100%;
  padding: 0;
  margin: 0;
}

.step {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.step:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(40px / 2); /* Центрируем линию по кружку */
  width: 2px;
  height: calc(100% + 20px); /* Длина линии */
  background-color: #007bff; /* Цвет линии */
  transform: translateY(50%);
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #f0f0f0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-right: 10px;
}

.checked {
  background-color: #007bff;
}

.label {
  font-size: 14px;
  color: black;
  width: 120px;
  text-align: center;
  margin-top: 5px; /* Space between label and circle */
  white-space: pre-wrap; /* Allows text to wrap */
  word-wrap: break-word;
}
